* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.container {
    display: flex;
    gap: 20px;
}

.calculator {
    background-color: #3a685c;
    padding: 20px;
    border-radius: 10px;
    width: 260px;
}

#display {
    width: 100%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    background-color: #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.zero {
    grid-column: span 2;
}
.clear-history {
    background-color: #ff6666;
    color: white;
}

/* History box */
.history {
    background-color: #fff;
    padding: 15px;
    width: 200px;
    border-radius: 10px;
    overflow-y: auto;
}

.history h3 {
    margin-top: 0;
    text-align: center;
}

.history ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.history li {
    font-size: 14px;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}
